*{
    padding: 0;
    margin: 0;
    color: #080707;
    line-height: 1.5;
    font-family:  'Salesforce Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';   
}
body{
    background-color: red;
}

a {
    text-decoration: none;
    color: #032d60; 
}

.div-global-sales {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    z-index: 1000; 
    height: 72px;
    display:grid;
    align-items: center;
    min-width: 60px;
    min-height: 51px;
}

a:hover, .dropdown-menu a:hover {
    color: #0176d3;
}

.watch-demos a:hover, .free-trial a:hover {
    color: white;
}


.title-navbar-nav{
    font-weight: 600;
    font-size: 16px;
}

.nav-sales {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-between;
    height: 72px;
}  




.navbar-nav{
    display: flex;
    list-style: none;    
    margin: 0px 24px 0 24px;
}

 .navbar-nav>li {
    padding: 12px 16px 12px 16px;
}

.mobile-menu .navar-nav{
    position: absolute;
    width: 163px;
}


.watch-demos {
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: solid #0176d3;
    border-radius: 4px;
    padding: 8px 24px;
    background-color: #0176d3;
    cursor: pointer;
    white-space: nowrap;
}

.watch-demos:hover {
    background-color: #023248;
    border: solid #023248;
}

.nav-container-sales, .nav-sales {
    display: flex;
    align-items: center;
}

.div-global-sales {
    border-top: 1px solid rgd(229, 229, 299);
    box-shadow: rgba(24, 24, 24, 0.08) 0px 0px 2px, rgba(24, 24, 24, 0.16) 0px 2px 4px 1px;
}

.nav-sales-header-logo{
    display: flex;
    align-items: center;
    width: auto;

    height: 32px;
    margin-bottom: 3px;
}

.img-sales-mobile {
    display: none;
    width: 45px;
    height: 31.3px;
    padding-right: 16px;
}



.property-title, .property-title-mobile {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color:  #032d60;
}

.property-title:hover {
    cursor: pointer;
    color: #0176d3;
}





/*Menu clicavel*/
.dropdown-menu{
    display: flex;
    position: absolute;
    background-color: white;
    width: 640px;
    height: 295.200px;
    padding: 24px 40px 40px 40px;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid rgba(24, 24, 24, 0.04);
    box-shadow: rgba(24, 24, 24, 0.08) 0px 12px 24px -4px;
    top: 60.8px;
    left: 230px;
    margin-top: 12px;
    opacity: 0;
    visibility: hidden;
    top: 60px;
}



.dropdown-menu-mobile {
    display: none;
}

.nav-item:focus, .nav-item-first:focus {
    background-color: #d8edff;
}

.dropdown-menu.ativo{
    opacity: 1;
    visibility: visible;
}

.dropdown-menu  a{
    display: block;
    color: black;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color:#032d60;
}

.dropdown-left, .dropdown-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;  
    margin-right: 20px;
    width: 240px;
}



.dropdown-right {
    margin-top: 24px;
    padding-right: 20px;
}

.title-navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
}

.nav-sales:hover .icon-arraw-mobile, .nav-sales:hover .property-title-mobile, 
.dropdown:hover .icon-arraw, .dropdown:hover .title-navbar-nav {
    color: #0176d3;
    border-color: #0176d3;
}

.dropdown, .property-logo, .logo {
    cursor: pointer;
}

.icon button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon-arraw {
    display: block;
    position: absolute;
    height: 8px;
    width: 8px;
    border-top: 2px solid #032d60;
    border-left: 2px solid #032d60;
    transform: rotate(223deg) ;
    cursor: pointer;
}


.icon {
    
    align-items: center;
    margin-left: 8px;
    margin-bottom: 12px;
}

.icon button {
    border: none;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-icon-arraw {
    margin-bottom: 15px;
    position: sticky;
    width: 10px;
    height: 10px;
}

.title-navbar-nav:hover .icon-arraw {
    border-color: #0176d3;
}

.arrow-space
{
    position: absolute;
    height: 12px;
    width: 165.462;; 
    top: 60px;
    display: flex;
    align-items: center;
    display: none;
}   

.arrow-space.ativo {
    display: block;
}

.arrow-space::after {
    display: flex;
    align-items: center;
    content: '';
    position: absolute;
    top: 4;
    left: calc(50% - calc((20 + 25px) / 2));
    right: 50%;
    width: 12px;
    height: 12px;
    background: transparent;
    transform: rotate(45deg);
    border: 2px solid rgba(24, 24, 24, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}
    


.nav-item {
    margin-top: 12px;
}


.arrow-mobile {
    display: none;
    margin-bottom: 5px;
}

.icon-arraw-mobile {
    display: block;
    align-items: center;
    position: absolute;
    height: 10px;
    width: 10px;
    border-top: 2px solid #032d60;
    border-left: 2px solid #032d60;
    transform: rotate(223deg);
    cursor: pointer;

}

.mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    /*max-height: 398px;*/
    background-color: white;
    z-index: 999;
}

.arrow-mobile button {
    border: none;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
   
}

.button-watch-trial-mobile {
    
    padding: 24px 32px 12px 32px;
}


.button-watch-trial-mobile {
    position: sticky; 
    bottom: 0; 
    background-color: white; 
    z-index: 1000;
    padding: 24px 24px 32px 24px;
}


.button-watch-trial-mobile .watch-demos
{
    width: 100%;
}

@media screen and (max-width: 1280px) {
    .navbar-nav {
        display: none;
        overflow-y:auto;
        height: auto;  /*mude aqui*/
        margin: 7.5px 0px 7.5 16px;
      }
  

    .button-watch-trial {
        display: none;
    }

    .arrow-mobile {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .img-sales-mobil, .icon, .img-sales-mobile {
        display: flex;
    }
    
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
    }

    .mobile-menu .nav-item {
        display: block;
        padding: 0  0  0 1rem;
    }

    .mobile-menu .button-watch-trial {
        display: block;
        padding: 1.5rem 2rem 1rem 2rem ;
    }

    .mobile-menu .button-watch-trial button {
        width: 100%;
    }
    .open {
        display: block;
    }
 
    .dropdown-menu {
        display: flex;
        align-items: center;
    }

    .dropdown-menu-mobile a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    .dropdown-left-right .nav-item {
        margin: 12px 0 12px 0;  
    }

    .dropdown-left-right {
        list-style: none;   
    }

    .div-global-sales, .nav-sales {
        height: 56px;
    }

    .property-title-mobile {
        font-size: 16px;
    }

    .watch-demos {
        padding: 12px 24px;
    }

    .nav-sales-header-logo {
        display: none;
        margin-bottom: 0px;
        width: 246px;
    }

    .icon {
        margin-bottom: 0;
        margin-left: 0;
    }
}

@media screen and (max-height: 380px){
    .navbar-nav {
        overflow-y:hidden;
      }

    .nav-mobile {
        overflow-y:auto;
        max-height: 100px;  
    }
}
